@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
.topNav {
  position: fixed;
  z-index: 3;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 2.5rem;
  padding-right: 3.75rem;
  width: 100%;
  height: 6.25rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  .logo {
    width: 144px;
  }
  .flex-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10.5rem;
  }
  .search-box {
    width: 25rem;
    display: flex;

    input {
      padding: 0.75rem 1.25rem;
      width: 90%;
      outline: none;
      border-radius: 30px;
      color: #545f7d;
      border-radius: 8px 0px 0px 8px;
      border: 1px solid rgba(33, 63, 125, 0.4);
      border-right: none;

      &::placeholder {
        opacity: 0.5;
      }
    }
    .search-icon {
      width: 3.5rem;
      background: #39cdcc;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 8px 8px 0px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #213f7d;
    .docs {
      text-decoration: underline;
      font-family: roboto, arial, helvetica;
      font-size: 16px;
      margin-right: 3rem;
    }
    .bell {
      margin-right: 1.875rem;
    }
    .avatar {
      margin-right: 10px;
    }
    .admin {
      font-size: 16px;
      font-family: "Work Sans", sans-serif;
      margin-right: 4px;
    }
  }
}
.sidebar {
  position: fixed;
  z-index: 1;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding-top: 8.75rem;
  width: 17.6rem;
  height: 100vh;
  overflow: scroll;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-family: "Work Sans", sans-serif;
  .nav-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .nav {
    display: flex;
    width: 100%;
    padding: 0.6rem 1.875rem;
    gap: 0.625rem;
    opacity: 0.6;
    p {
      font-size: 16px;
      font-weight: 400;
      color: #213f7d;
    }
  }
  .nav.active {
    border-left: 3px solid #39cdcc;
    background-color: rgba(57, 205, 204, 0.06);
    opacity: 1;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 2rem;
    h4 {
      margin-left: 1.875rem;
      font-size: 12px;
      font-weight: 500;
      color: #545f7d;
      text-transform: uppercase;
    }
  }
}
.main {
  padding: 10rem 21.4rem;
  padding-right: 3.75rem;
  width: 100%;
  background: rgba(229, 229, 229, 0.1);
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
  h1 {
    font-size: 24px;
    font-weight: 500;
  }
  .flex-box {
    display: flex;
    justify-content: flex-start;
    gap: 1.625rem;
    margin-top: 2.5rem;
    width: 74.8rem;
  }
  .card {
    width: 18rem;
    height: 10rem;
    padding: 1.25rem 1.875rem;
    justify-content: flex-start;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(33, 63, 125, 0.06);
    img {
      width: 40px;
    }
    h4 {
      color: #545f7d;
      font-size: 14px;
      font-weight: 500;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
    }
  }
  table {
    width: 74.8rem;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    text-align: left;
    padding: 1.875rem;
    margin-top: 2.5rem;
    th h4 {
      display: flex;
      gap: 0.5rem;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      img {
        width: 16px;
      }
    }

    tbody {
      padding: 1.375rem;

      td {
        font-size: 14px;
        font-weight: 400;
        color: #545f7d;
        height: 3.75rem;
        border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      }
    }
  }
}
