.login-container {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  .img-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 2.7rem;
    flex-basis: 50%;
    .logo {
      width: 173px;
      margin: 6.6rem 6rem;
    }
    .canvas {
      width: 600px;
      margin-left: 4.188rem;
    }
  }
  .flex-box {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
    height: 100vh;
    flex-basis: 50%;
    padding: 12rem 6rem;
    img {
      width: 800px;
      margin-left: -2rem;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .img-box {
      .logo {
        width: 80px;
        margin: 2.25rem;
      }
      .canvas {
        width: 280px;
        margin-left: 0;
        margin: auto;
      }
    }
    .flex-box {
      padding: 2.25rem;
    }
  }
  .login-box {
    width: 32rem;
    color: #213f7d;

    h1 {
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      margin-top: 1rem;
    }
    form {
      margin-top: 3.75rem;
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
      span {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #39cdcc;
      }
      button {
        width: 100%;
        color: #fff;
        background-color: #39cdcc;
        margin-top: 0.375rem;
        letter-spacing: 1px;
        padding: 1.2rem;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 8px;
      }
    }
    .form-input {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      border-radius: 5px;
      border: 2px solid rgba(84, 95, 125, 0.15);
      input {
        width: 90%;
        padding: 1.125rem;
        font-size: 14px;
        border: none;
        outline: none;
        color: #213f7d;
        &::placeholder {
          opacity: 0.6;
        }
        // outline: #213f7d;
        // outline-style: inset;
      }
      span {
        margin-left: -1rem;
        cursor: pointer;
      }
    }

    .form-input.red {
      border: 2px solid rgba(33, 63, 125, 0.9);
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
      form {
        margin-top: 2rem;
        .form-input {
          span {
            margin-left: -2rem;
          }
        }
      }
    }
  }
}
